<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#page-top"><img src="../../../assets/img/navbar-logo.svg" alt="..." width="50%" height="50%"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbarCollapsing()">
        Menu
        <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.collapse]="navbarCollapsed">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
          <li class="nav-item"><a class="nav-link" href="#about-me">about me</a></li>
          <li class="nav-item"><a class="nav-link" href="#skill">Skills</a></li>
          <li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
          <li class="nav-item"><a class="nav-link" href="#more">More</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead" id="about-me">
      <div class="masthead-container d-lg-flex flex-row align-items-center">
        <div class="right col-lg-6"></div>
        <div class="left col-lg-6 justify-content-center align-items-center" style="background-color: #25292D">
          <div class="masthead-subcontainer d-flex flex-row justify-content-center text-center ps-2">
            <div class="masthead-subheading mx-2">Chutikan</div>
            <div class="masthead-subheading masthead-subheading-surname">Osswamanakit</div>
          </div>
          <div class="d-flex flex-column mx-6">
            <div class="masthead-content">
              <span>Thammasat University, Lampang Campus</span>
              <span>Faculty of Science and Technology</span>
              <span>Major: Computer Science</span>
            </div>
            <img class="div-line align-self-center" src="../.././../assets/img/home/divide-line.svg"/>
            <div class="masthead-content2">
              <span>Welcome to my portfolio!</span>
              <span class="mb-4">I am a recent graduate of Thammasat University, Lampang Campus, where I earned a degree from the Faculty of Science and
              Technology in Computer Science. I am keenly interested in pursuing opportunities as a mobile developer, web developer,
              and front-end developer, leveraging my strong programming skills.</span>
              <span>In addition to my academic achievements, I have served in leadership roles within the student committee, demonstrating
              my ability to coordinate effectively. My coursework at university has equipped me with the necessary skills and
              knowledge to excel in my chosen career path. Each experience has provided clarity and reinforced my ambition to pursue a
              career in software development.</span>
            </div>
          </div>
        </div>
    </div>
  </header>

  <section class="page-section bg-custom" id="skill">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Skills</h2>
        <h3 class="section-subheading text-muted font-content">Showcasing a blend of technical expertise, creative problem-solving, and effective communication for high-quality
        results.</h3>
      </div>
      <div class="d-flex flex-row flex-wrap text-center justify-content-center">
        <div class="col-lg-3 col-sm-6 px-2 mb-3 px-custom">
          <span><i class="fa fa-circle fa-6x" aria-hidden="true"><img src="../../../assets/img/logos/1.png" class="logo-image"/></i></span>
          <h4 class="my-3">Languages</h4>
            <li class="font-content text-muted text-list">JavaScript</li>
            <li class="font-content text-muted text-list">HTML, CSS</li>
            <li class="font-content text-muted text-list">TypeScript</li>
            <li class="font-content text-muted text-list">Java</li>
            <li class="font-content text-muted text-list">Kotlin</li>
            <li class="font-content text-muted text-list">C / C++</li>
        </div>
        <div class="col-lg-3 col-sm-6 px-2 mb-3 px-custom">
          <span><i class="fa fa-circle fa-6x" aria-hidden="true"><img src="../../../assets/img/logos/2.png" class="logo-image"/></i></span>
          <h4 class="my-3">Web Developer</h4>
            <li class="font-content text-muted text-list">Angular</li>
            <li class="font-content text-muted text-list">Bootstrap</li>
            <li class="font-content text-muted text-list">ReactJs</li>
            <li class="font-content text-muted text-list">NodeJs</li>
        </div>
        <div class="col-lg-3 col-sm-6 px-2 mb-3 px-custom">
          <span><i class="fa fa-circle fa-6x" aria-hidden="true"><img src="../../../assets/img/logos/3.png" class="logo-image"/></i></span>
          <h4 class="my-3">Database</h4>
            <li class="font-content text-muted text-list">Google Firebase</li>
            <li class="font-content text-muted text-list">MongoDB</li>
            <li class="font-content text-muted text-list">MySQL (Basic)</li>
        </div>
        <div class="col-lg-3 col-sm-6 px-2 mb-3 px-custom">
          <span><i class="fa fa-circle fa-6x" aria-hidden="true"><img src="../../../assets/img/logos/4.png" class="logo-image"/></i></span>
          <h4 class="my-3">Others</h4>
            <li class="font-content text-muted text-list">Git</li>
            <li class="font-content text-muted text-list">Docker</li>
            <li class="font-content text-muted text-list">Google cloud platform</li>
            <li class="font-content text-muted text-list">Postman</li>
            <li class="font-content text-muted text-list">Arduino IDE</li>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section" id="experience">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Experience and Achievement</h2>
        <h3 class="section-subheading text-muted">My experience through competitive events and practical internships.</h3>
      </div>
      <ul class="timeline">
        <li>
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/achievement/2.png" alt="..." />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="font-content">May - Nov 2023</h4>
              <h4 class="font-content subheading fs-5">The 6th High-Performance Computing and Artificial Intelligence Competition
              <br/>(The APAC HPC-AI)</h4>
            </div>
            <div class="timeline-body d-flex flex-row">
              <img src="../../../assets/img/reward.png" width="10%" height="10%" class="me-2"/>
              <p class="font-content text-muted align-self-center w-100 text-md-end">Passed to final round and archived the merit place.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/achievement/1.png" alt="..." />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="font-content">Dec 2022 - Feb 2023</h4>
              <h4 class="font-content subheading fs-5">The 11th ASEAN Undergraduate Conference in Computing (AUCC)</h4>
              <h4 class="font-content subheading fs-5">Smart Pill Box System for Elder</h4>
            </div>
            <div class="timeline-body d-flex flex-row">
              <img src="../../../assets/img/reward.png" width="10%" height="10%" class="me-2"/>
              <p class="font-content text-muted align-self-center text-md-start">Archived Excellent paper awards</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/achievement/4.png" alt="..." />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="font-content custom-size">Apr 2021 - Jan 2022</h4>
              <h4 class="font-content subheading fs-5">Thailand National Software Contest (NSC)</h4>
              <h4 class="font-content subheading fs-5">Smart Pill Box System for Elder</h4>
            </div>
            <div class="timeline-body d-flex flex-row">
                <img src="../../../assets/img/reward.png" width="10%" height="10%" class="me-2"/>
                <p class="font-content text-muted align-self-center w-100 text-md-end">Passed to final round and archived the 3rd Place</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/achievement/3.png" alt="..." />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="font-content">Jan - May 2023</h4>
              <h4 class="font-content subheading fs-5">Thailand National Software Contest (NSC)</h4>
              <h4 class="font-content subheading fs-5">Standing Detection System for Elderly Individuals</h4>
            </div>
            <div class="timeline-body d-flex flex-row">
              <img src="../../../assets/img/reward.png" width="10%" height="10%" class="me-2"/>
              <p class="font-content text-muted align-self-center text-start">passed to northern region round with grant</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/achievement/5.png" alt="..." />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="font-content">Jun - Dec 2023</h4>
              <h4 class="font-content subheading fs-5">Front-end Developer Internship</h4>
              <h4 class="font-content subheading fs-5">Botnoi Consulting Co., Ltd.</h4>
            </div>
            <div class="timeline-body">
              <li class="font-content text-muted text-list">Convert corporate data into a web interface conducive to customer utilization.</li>
              <li class="font-content text-muted text-list">Revise antiquated code to conform to contemporary standards.</li>
              <li class="font-content text-muted text-list">Transition code from the cluster project into a stand alone project (Front-end Service).</li>
              <li class="font-content text-muted text-list">Augment the functionality of legacy web pages through integration of novel user-centric features.</li>
              <li class="font-content text-muted text-list">Attain expertise in cloud computing, deployment, and CI/CD pipelines on GitLab.</li>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <h4>
              Proud to
              <br />
              Be Part Of
              <br />
              Your Story!
            </h4>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="page-section bg-custom" id="more">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">More About me</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>

        <div class="d-flex flex-row flex-wrap justify-content-center">
          <div class="col-lg-4 col-sm-6 mb-4 px-3">
            <div class="portfolio-item justify-content-center">
              <a class="portfolio-link" data-bs-toggle="modal" href="https://drive.google.com/file/d/1nEdzmymFDj85yOyjWkPcICuaDh-36RQR/view?usp=sharing">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content"></div>
                </div>
                <img class="img-fluid2 img-border" src="assets/img/more/2.png" alt="..." />
              </a>
              <div class="portfolio-caption text-center">
                <h2 class="portfolio-caption-heading mt-2 text-uppercase">resume</h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 mb-4 px-3">
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal" href="https://drive.google.com/file/d/1vgofN6OKbYNF5mTA1YifgohaXT5FVFiC/view?usp=drive_link">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content"></div>
                </div>
                <img class="img-fluid2 img-border" src="assets/img/more/1.png" alt="..." />              </a>
              <div class="portfolio-caption text-center">
                <h2 class="portfolio-caption-heading mt-2 text-uppercase">cv</h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 mb-4 px-3">
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal" href="https://github.com/RainbowIsHappy">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content"></div>
                </div>
                <img class="img-fluid2 img-border" src="assets/img/more/3.png" alt="..." />
              </a>
              <div class="portfolio-caption text-center">
                <h2 class="portfolio-caption-heading mt-2 text-uppercase">github</h2>
              </div>
            </div>
          </div>

        </div>
      </div>
  </section>

  <!-- Footer-->
  <footer class="footer py-4">
    <div class="container">
      <div class="d-md-flex flex-row align-items-center">
        <div class="col-md-4 text-lg-start">Copyright &copy; Chutikan's Website 2024</div>
        <div class="col-md-4 my-3 my-lg-0">
          <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/scarlet.rain.1084/">
            <img src="../../../assets/img/logos/facebook.png" width="50%"/>
          </a>
          <a class="btn btn-dark btn-social mx-2" href="mailto:chutikan.osswa@gmail.com?subject=Hello%20there&body=This%20is%20a%20predefined%20email%20body.">
            <img src="../../../assets/img/logos/mail.png" width="50%" />
          </a>
          <a class="btn btn-dark btn-social mx-2" href="https://github.com/RainbowIsHappy">
            <img src="../../../assets/img/logos/github.png" width="50%" />
          </a>
        </div>
        <div class="col-md-4 text-lg-end">
          <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
          <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
        </div>
      </div>
    </div>
  </footer>
</body>

